# .env

# Enter database information and credentials
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

# obtain Spotify API credentials from https://developer.spotify.com/documentation/web-api/tutorials/getting-started 
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

SESSION_SECRET=
PORT=