<!DOCTYPE html>
<html>
  
  <%- include('partials/head.ejs') %>
  <title>Mixify</title>
  <body class="verticalAlign">
    <div class="logo" style="width: 400px">
      <img src="img/Untitled-1.gif" width="100%">
    </div>

    <div class="card" id="loginCard">
      <div class="card-body">
        
        <form action="/changePassword" method="POST">
          <h1>Change Password</h1>
          
          <div class="input-group mb-3">
            <input type="password" name="currentPassword" class="form-control myInput" placeholder="Current Password" aria-label="Password" aria-describedby="button-addon2">
            <button class="btn btn-outline-light" type="button" id="button-addon2 " onclick="showPassword()">Show</button>
          </div>
          <% if(typeof(error) != "undefined") { %>
            <% if(error == "passwordError") { %>
              <div id="passwordError" class="alert alert-danger form-control">Incorrect password. Try again </div>
            <% } %>
          <% } %>    
          <div class="input-group mb-3">
            <input type="password" name="newPassword" class="form-control myInput" placeholder="New Password" aria-label="Password" aria-describedby="button-addon2">
            <button class="btn btn-outline-light" type="button" id="button-addon2 " onclick="showPassword()">Show</button>
          </div>
      
          <button type="submit" class="btn btn-primary" class="greenToViolet">Change Password</button>
        </form>
        
      </div>
    </div>

    <script src="/js/script-changepassword.js"></script>
    
  </body>
</html>